<header>
<h1>Create a Team and Heroes!</h1>
</header>

<body>
<form action="/team" method="post">
team name: <input type="text" name="team[name]">
team motto: <input type="text" name="team[motto]">
hero name: <input id="member1name" type="text" name="team[heros][][name]">
hero power: <input id="member1power" type="text" name="team[heros][][power]">
hero biography: <input id="member1bio" type="text" name="team[heros][][bio]">
hero name: <input id="member2name" type="text" name="team[heros][][name]">
hero power: <input id="member2power" type="text" name="team[heros][][power]">
hero biography: <input id="member2bio" type="text" name="team[heros][][bio]">
hero name: <input id="member3name" type="text" name="team[heros][][name]">
hero power: <input id="member3power" type="text" name="team[heros][][power]">
hero biography: <input id="member3bio" type="text" name="team[heros][][bio]">

<input id="Submit" type="submit">
</body>
