<header>
<h1>Create a Team and Heroes!</h1>
</header>

<body>
<form action="/teams" method="post">
team name: <input type="text" name="team[name]">
team motto: <input type="text" name="team[motto]">
hero name: <input id="member1_name" type="text" name="team[heroes][][name]">
hero power: <input id="member1_power" type="text" name="team[heroes][][power]">
hero biography: <input id="member1_bio" type="text" name="team[heroes][][bio]">
hero name: <input id="member2_name" type="text" name="team[heroes][][name]">
hero power: <input id="member2_power" type="text" name="team[heroes][][power]">
hero biography: <input id="member2_bio" type="text" name="team[heroes][][bio]">
hero name: <input id="member3_name" type="text" name="team[heroes][][name]">
hero power: <input id="member3_power" type="text" name="team[heroes][][power]">
hero biography: <input id="member3_bio" type="text" name="team[heroes][][bio]">

<input id="submit" type="submit">
</body>
